{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    <div class="post-create-wrapper">
        <h1>Send Invitations</h1>

        {{ form(form) }}
    </div>
{% endblock %}