{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="caption">
        <dl class="row">
            {% for invite in invites %}
                <dt class="col-sm-6 label_dt">{{ invite.title }}</dt><dd class="col-sm-6" ><a href="{{ path('postdelete', {id: invite.id}) }}">Cancel</a></dd>
            {% endfor %}
        </dl>
    </div>
{% endblock %}
